@charset "UTF-8";
/* Import scss*/
/* Mixins */
/* Général */
body {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid #009fe3;
}

h1,
h2,
h3,
p {
  text-align: center;
  margin: 0 auto;
}

h1,
h2,
h3,
p,
a,
a:hover {
  color: #009fe3;
}

ul {
  list-style: none;
  padding: 0;
}

.logo:hover,
.search a:hover,
.pub-logo:hover,
.back-to-top a:hover {
  border: none;
}

/* Reset */
html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Bouton menu */
.btn-menu {
  cursor: pointer;
}

.btn-menu img {
  width: 70%;
}

.btn-menu:active {
  transform: scale(0.9);
}

@media all and (min-width: 375px) {
  .btn-menu img {
    width: 80%;
  }
}
@media all and (min-width: 425px) {
  .btn-menu img {
    width: 90%;
  }
}
@media all and (min-width: 768px) {
  .btn-menu img {
    width: 100%;
  }
}
@media only screen and (min-width: 950px) {
  .btn-menu {
    display: none;
  }
}
/* Bouton don */
.don {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  order: 3;
}

.btn-don {
  display: inline-block;
  border: 2px solid #009fe3;
  border-radius: 40px;
  font-size: 0.9em;
  padding: 0.3em 0.5em 0.4em;
  font-weight: bold;
}

.btn-don:active {
  transform: scale(0.9);
}

.btn-don:hover {
  background: #009fe3;
  color: #31424a;
  transition-duration: 0.1s;
}

@media all and (min-width: 375px) {
  .btn-don {
    font-size: 1em;
  }
}
@media all and (min-width: 425px) {
  .btn-don {
    font-size: 1.1em;
  }
}
@media all and (min-width: 768px) {
  .btn-don {
    font-size: 1.4em;
  }
}
@media all and (min-width: 950px) {
  .don {
    margin-right: 65px;
  }

  .btn-don {
    font-size: 1.1em;
  }
}
@media all and (min-width: 1024px) {
  .btn-don {
    font-size: 1.3em;
  }
}
@media all and (min-width: 1200px) {
  .btn-don {
    font-size: 1.3em;
    position: relative;
    top: 2px;
  }
}
@media all and (min-width: 1440px) {
  .btn-don {
    font-size: 1.6em;
    top: 3px;
  }
}
/* Bouton search */
.btn-search {
  cursor: pointer;
  font-size: 1.1em;
  margin-right: 10px;
}

.btn-search:active {
  transform: scale(0.9);
}

@media all and (min-width: 375px) {
  .btn-search {
    font-size: 1.2em;
  }
}
@media all and (min-width: 425px) {
  .btn-search {
    font-size: 1.3em;
  }
}
@media all and (min-width: 768px) {
  .btn-search {
    font-size: 1.6em;
  }
}
@media all and (min-width: 950px) {
  .btn-search {
    font-size: 1.3em;
  }
}
@media all and (min-width: 1024px) {
  .btn-search {
    font-size: 1.4em;
  }
}
@media all and (min-width: 1200px) {
  .btn-search {
    position: relative;
    font-size: 1.5em;
    top: 1.5px;
  }
}
@media all and (min-width: 1440px) {
  .btn-search {
    top: 4px;
  }
}
@media all and (min-width: 2100px) {
  .btn-search {
    font-size: 1.7em;
    right: -10px;
  }
}
/* Bouton haut de page */
.back-to-top {
  position: fixed;
  right: 5%;
  bottom: 10px;
  border-radius: 5px;
}

.fa-chevron-up {
  font-size: 1.5em;
  color: #7dd8ff;
}

@media all and (min-width: 768px) {
  .back-to-top {
    right: 2%;
    bottom: 10px;
  }

  .fa-chevron-up {
    font-size: 2em;
  }
}
@media all and (min-width: 1024px) {
  .fa-chevron-up {
    font-size: 2.5em;
  }
}
@media all and (min-width: 1024px) {
  .fa-chevron-up {
    font-size: 3em;
  }
}
@media all and (min-width: 1440px) {
  .back-to-top {
    right: 3%;
    bottom: 30px;
  }

  .fa-chevron-up {
    font-size: 3.5em;
  }
}
/* Header */
.topbar,
.menu,
.search,
.caroussel {
  width: 100%;
}

header {
  background: #31424a;
}

.header-top {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo */
.logo {
  order: 2;
  position: relative;
  left: -6px;
}

.logo img {
  width: 95px;
}

/* Menu */
.menu-mobile-tablet {
  order: 1;
}

.menu-checkbox:checked ~ .menu {
  margin-left: 0;
  transition-duration: 0.5s;
  display: block;
}

.menu-checkbox {
  position: absolute;
  top: -5000px;
}

.menu {
  margin-left: -3000px;
  transition-duration: 1s;
  background: #31424a;
  position: absolute;
  top: 7.5em;
  left: 0;
  z-index: 1;
  padding-bottom: 10px;
}

.menu li {
  display: flex;
}

.menu a {
  display: inline;
  text-align: center;
  background: #31424a;
  margin: 5px auto;
  font-weight: bold;
}

.menu a:hover {
  border-bottom: 2px solid #009fe3;
}

.menu-desktop {
  display: none;
}

/* Barre de recherche et bouton recherche */
.search {
  margin: 20px auto 0;
}

.search form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #455d69;
  border-radius: 25px;
  padding: 5px 0;
}

.search input {
  border: none;
  background: #455d69;
  font-size: 1.2em;
  margin-left: 10px;
  width: 85%;
}

.search input::placeholder {
  color: rgba(0, 159, 227, 0.5);
}

/* Caroussel */
.caroussel {
  margin-top: 20px;
  overflow: hidden;
}

.images {
  width: 100vw;
  display: flex;
  animation-duration: 15s;
  animation-name: mesImages;
  animation-iteration-count: infinite;
}

.images img {
  width: 100vw;
}

@keyframes mesImages {
  0%, 25% {
    transform: translateX(0);
  }
  30%, 75% {
    transform: translateX(-100%);
  }
  80%, 100% {
    transform: translateX(0);
  }
}
@media all and (min-width: 375px) {
  .logo img {
    width: 100px;
  }

  .menu {
    top: 8em;
  }
}
@media all and (min-width: 425px) {
  .logo img {
    width: 115px;
  }

  .menu {
    top: 8.1em;
  }
}
@media all and (min-width: 768px) {
  .logo img {
    width: 125px;
  }

  .menu {
    top: 6.6em;
    font-size: 1.4em;
  }

  .search {
    width: 60%;
  }

  .search form {
    padding: 8px 5px;
  }

  .search input {
    font-size: 1.8em;
  }
}
@media all and (min-width: 950px) {
  .header-top {
    position: relative;
    height: 25px;
    padding: 40px 30px 25px;
  }

  .logo {
    order: 1;
  }

  .logo img {
    width: 100px;
  }

  .menu-mobile-tablet {
    display: none;
  }

  .menu-desktop {
    order: 2;
    display: block;
    margin: 0 auto;
  }

  .menu-desktop a {
    display: inline;
    margin: 0 5px;
    font-weight: bold;
    font-size: 0.9em;
  }

  .search {
    position: relative;
    top: -46.5px;
    left: 48.5%;
    width: 50px;
    margin: 0 auto;
  }

  .search form {
    background: none;
    width: 20px;
  }

  .search input {
    display: none;
  }
}
@media all and (min-width: 1024px) {
  .header-top {
    padding: 30px 30px 30px;
  }

  .logo img {
    width: 130px;
  }

  .menu-desktop a {
    font-size: 1em;
  }

  .search {
    top: -54.5px;
  }

  .images {
    height: 400px;
  }
}
@media all and (min-width: 1200px) {
  .header-top {
    padding: 25px 50px 45px;
  }

  .logo img {
    width: 150px;
  }

  .search {
    top: -61px;
  }
}
@media all and (min-width: 1440px) {
  .header-top {
    padding: 15px 50px 50px;
  }

  .logo img {
    width: 170px;
  }

  .menu-desktop a {
    font-size: 1.2em;
  }

  .search {
    top: -67px;
  }
}
/* Footer */
footer,
.footer-menu_infos,
.footer-menu_presse,
.footer-menu_faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  background: #47494A;
  width: 100%;
  color: #009fe3;
  margin: 0;
  padding-top: 20px;
}

footer p {
  margin-bottom: 0;
}

footer ul {
  padding: 0;
}

footer li {
  text-align: center;
  line-height: 35px;
}

@media all and (min-width: 600px) {
  footer {
    padding: 50px 0;
    flex-direction: row;
    justify-content: space-around;
  }

  footer p,
footer a {
    font-size: 1.1em;
  }
}
@media all and (min-width: 1024px) {
  footer {
    font-size: 1.3em;
  }
}
/* Contenu de la page Accueil */
main {
  max-width: 1550px;
  background: #fff;
  padding-top: 20px;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

.card h3,
.card-inner,
.card-front,
.card-back,
.content-top,
.content-btm,
.art,
.pub,
.pub-logo {
  width: 100%;
}

.top {
  margin-bottom: 20px;
  padding: 0 10px;
}

.top h2 {
  margin: 30px auto 20px;
  color: #009fe3;
  width: 45%;
}

.top-container {
  padding: 0 20px;
}

.card {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #009fe3;
  perspective: 1000px;
  margin-bottom: 10px;
}

.card h3 {
  padding: 10px 0;
}

.card-inner {
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateX(180deg);
}

.card-front,
.card-back {
  height: 100%;
  backface-visibility: hidden;
  background: #f8f8f8;
  box-shadow: 1px 1px 10px 1px #c1c7c9;
}

.card-front,
.card-front img,
.card-back {
  border-radius: 5px;
}

.card-front {
  border-radius: 5px;
}

.card-front img {
  margin-top: 5%;
  width: 90%;
}

.card-back {
  transform: rotateX(180deg);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  margin-bottom: 10px;
  background: #f8f8f8;
  border-radius: 5px;
}

.card-back p {
  width: 90%;
}

/* main centre */
.center {
  padding: 20px 0 30px;
  height: auto;
}

.center h2 {
  margin-bottom: 20px;
}

.center::before {
  content: "";
  height: 2px;
  width: 90%;
  background: #009fe3;
  display: block;
  margin: 20px auto;
}

.center::after {
  content: "";
  width: 90%;
  height: 2px;
  background: #009fe3;
  display: block;
  margin: 30px auto 0;
}

.center-container {
  height: auto;
  background: url("../../ressources/images/main-livre-862x1166.png") no-repeat;
  background-size: 100% 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8em;
}

.content-top,
.content-btm {
  display: flex;
  justify-content: space-between;
}

.art-1,
.art-3 {
  padding: 0 10px 10px 20px;
}

.art-2,
.art-4 {
  padding: 0 20px 10px 10px;
}

.art h3 {
  margin-bottom: 10px;
}

.btm {
  height: auto;
  background: no-repeat url("../../ressources/images/bg-rectangle-blue-320x750.png");
  background-size: 100% 100%;
  padding: 0 20px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 0.2fr 0.2fr 2fr 0.8fr;
  grid-template-areas: "." "btm-span" "btm-h2" "pub" ".";
}

.btm h2,
.btm span {
  font-size: 1.3em;
}

.btm h2 {
  grid-area: btm-h2;
  color: #47494A;
  display: flex;
  align-self: center;
}

.btm span {
  grid-area: btm-span;
  position: relative;
  right: 5vw;
  display: flex;
  align-self: center;
  justify-self: center;
  font-weight: bold;
  color: rgba(71, 73, 74, 0.7);
}

.pub {
  grid-area: pub;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "pub-1 . pub-2" ". pub-3 ." "pub-4 . pub-5";
  max-height: 400px;
  margin: 0 auto;
}

.pub-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pub-1 {
  grid-area: pub-1;
}

.pub-2 {
  grid-area: pub-2;
}

.pub-3 {
  grid-area: pub-3;
}

.pub-4 {
  grid-area: pub-4;
}

.pub-5 {
  grid-area: pub-5;
}

.pub-1,
.pub-4 {
  justify-content: flex-end;
}

.pub-2,
.pub-5 {
  justify-content: flex-start;
}

.btm img {
  width: 80%;
}

@media all and (min-width: 375px) {
  .center-container {
    font-size: 0.9em;
  }

  .btm h2,
.btm span {
    font-size: 1.4em;
  }

  .btm img {
    width: 70%;
  }
}
@media all and (min-width: 425px) {
  .center-container {
    font-size: 1em;
  }

  .btm h2,
.btm span {
    font-size: 1.5em;
  }

  .btm h2,
.btm span {
    font-size: 1.5em;
  }
}
@media all and (min-width: 768px) {
  .top-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.1fr 0.1fr;
    grid-template-areas: "card-1 card-1 card-2 card-2" "card-3 card-3 card-3 card-3";
    gap: 10px;
    padding: 0 20px;
  }

  .card-1 {
    grid-area: card-1;
  }

  .card-2 {
    grid-area: card-2;
  }

  .card-3 {
    grid-area: card-3;
    width: 70%;
    position: relative;
    left: 15%;
  }

  .card {
    margin: 0;
    height: 100%;
  }

  .card-front img {
    width: 90%;
  }

  .center-container {
    font-size: 1.1em;
  }

  .art-1,
.art-3 {
    padding: 0 30px 10px 50px;
  }

  .art-2,
.art-4 {
    padding: 0 50px 10px 30px;
  }

  .btm h2,
.btm span {
    font-size: 1.8em;
  }

  .btm h2 {
    margin-bottom: 30px;
  }
}
@media all and (min-width: 950px) {
  main {
    padding: 40px 0;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.4em;
  }

  .top-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "card-1 card-2 card-3";
    gap: 10px;
    padding: 0 10px;
  }

  .center,
.card-3 {
    width: 100%;
  }

  .card-1 {
    grid-area: card-1;
  }

  .card-2 {
    grid-area: card-2;
  }

  .card-3 {
    grid-area: card-3;
    left: 0;
  }

  .center h2 {
    font-size: 2.2em;
  }

  .center-container {
    font-size: 1.3em;
  }

  .art-1,
.art-3 {
    padding: 0 80px 10px 100px;
  }

  .art-2,
.art-4 {
    padding: 0 100px 10px 80px;
  }

  .btm img {
    width: 50%;
  }
}
@media all and (min-width: 1024px) {
  .top-container {
    padding: 0 40px;
  }

  .center-container {
    margin: 0 55px;
  }

  .art-1,
.art-3 {
    padding: 0 110px 10px 130px;
  }

  .art-2,
.art-4 {
    padding: 0 130px 10px 110px;
  }
}
@media all and (min-width: 1240px) {
  h1 {
    font-size: 3.5em;
  }

  .card-back {
    font-size: 1.5em;
  }

  .center h2 {
    font-size: 2.5em;
  }

  .center-container {
    font-size: 1.5em;
  }

  .art-1,
.art-3 {
    padding: 0 150px 10px 170px;
  }

  .art-2,
.art-4 {
    padding: 0 170px 10px 150px;
  }

  .btm img {
    width: 40%;
  }
}
@media all and (min-width: 1440px) {
  .btm h2,
.btm span {
    font-size: 2em;
  }

  .btm h2 {
    margin-bottom: 50px;
  }
}
@media all and (min-width: 1537px) {
  main {
    max-width: 1536px;
    margin: 0 auto;
  }
}
/* Contenu page l'ong */
h1 {
  color: #31424a;
}

/*# sourceMappingURL=style.css.map */
