html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Header */
header {
  background: #31424a;
  height: 440px;
  width: 100%;
}

h1 {
  margin: 0;
  position: absolute;
  text-align: center;
  color: #009fe3;
  left: 0;
  right: 0;
}

a {
  text-decoration: none;
}

.header-top {
  padding: 50px 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.logo img {
  width: 110px;
}

.logo {
  order: 2;
  position: absolute;
  left: 80px;
}

.main-navigation {
  order: 1;
  height: 200px;
  margin-left: 5px;
}

.menu-checkbox:checked ~ .menu {
  margin-left: 0;
  transition-duration: 0.5s;
  display: block;
}

.menu-checkbox {
  position: absolute;
  top: -5000px;
}

label img {
  position: relative;
  top: 7px;
  width: 40px;
}

.menu {
  margin: 70px 0 0 -3000px;
  transition-duration: 0.5s;
  background: #31424a;
  width: 150px;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}

.menu a {
  display: block;
  text-decoration: none;
  color: #009fe3;
  background: #31424a;
  margin: 5px 25px;
}

.menu a:hover {
  transform: scaleY(1.5);
}

.toggle_btn {
  height: 40px;
  width: 40px;
  position: relative;
  margin: 5px 10px 0 0;
  cursor: pointer;
}

.don {
  order: 3;
  width: 100px;
  height: 45px;
  position: relative;
  top: 4px;
  border: 1px solid #009fe3;
  background: #31424a;
  color: #009fe3;
  border-radius: 25px;
}

.search {
  order: 4;
  position: absolute;
  top: 120px;
  left: 20px;
  width: 93%;
}

.search input {
  width: 90%;
  height: 40px;
  border-radius: 20px;
  border: none;
  background: #455d69;
}

.search input::placeholder {
  font-size: 1.5em;
  position: relative;
  top: 2px;
  left: 10px;
  color: #009fe3;
}

.search button {
  position: absolute;
  right: 35px;
  top: 7px;
  border: none;
  border-radius: 50%;
  background: #455d69;
}

.fa-search {
  margin-top: 2px;
  font-size: 1.4em;
  color: #009fe3;
}

.caroussel {
  position: relative;
  top: -60px;
  width: 320px;
  overflow: auto;
}

.images img {
  width: 320px;
  height: 251px;
}

.images {
  display: flex;
  animation-duration: 15s;
  animation-name: mesImages1;
  animation-iteration-count: infinite;
}

@keyframes mesImages1 {
  0%, 25% {
    transform: translateX(0);
  }
  30%, 75% {
    transform: translateX(-320px);
  }
  80%, 100% {
    transform: translateX(0);
  }
}
/*.caroussel {
  position: relative;
  top: -60px;
  width: 3100px;
  overflow: auto;
}

.images img {
  display: inline-block;
  width: 1550px;
  height: 251px;
}

.images {
  width: 3100px;
  display: flex;
  animation-duration: 15s;
  animation-name: mesImages1;
  animation-iteration-count: infinite;
}

@keyframes mesImages1 {
  0%, 25% {
    transform: translateX(0);
  }
  30%, 75% {
    transform: translateX(-1551px);
  }
  80%, 100% {
    transform: translateX(0);
  }
}*/
/* Main */
.top h2 {
  margin: 20px 0 0;
  text-align: center;
  color: #009fe3;
}

.card {
  margin: 10px 20px;
  padding: 30px;
  box-shadow: 1px 1px 15px 1px #c1c7c9;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #009fe3;
}

.card a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #009fe3;
}

.card a:visited {
  color: #009fe3;
}

.center {
  margin-top: 20px;
}

.center h2 {
  color: #009fe3;
  text-align: center;
  margin-bottom: 0;
}

.center-container {
  background: url("../../ressources/images/main-livre-862x1166.png") no-repeat;
  background-size: 100% 560px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 13px;
  padding: 20px 0 20px;
}

.art {
  width: 140px;
  height: 250px;
  padding: 5px;
  text-align: center;
  position: relative;
  top: -15px;
}

.btm {
  height: 350px;
  background: no-repeat url("../../ressources/images/bg-rectangle-blue-320x750.png");
  background-size: 100% 350px;
}

.btm {
  margin-top: 30px;
}

.btm h2 {
  margin: 0;
  position: relative;
  top: 90px;
  text-align: center;
}

.btm span {
  position: relative;
  top: 30px;
  left: 30px;
  font-weight: bold;
  font-size: 1.2em;
  opacity: 0.5;
}

.pub {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pub img {
  width: 75px;
}

.pub-top {
  width: 80%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pub-btm {
  width: 80%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pub-top a:nth-child(2) {
  position: relative;
  top: 30px;
}

footer {
  background: #47494A;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #009fe3;
}

footer p {
  margin-bottom: 0;
}

footer ul {
  padding: 0;
}

footer li {
  text-align: center;
  line-height: 1.8em;
}

footer a {
  color: #009fe3;
}

footer a:visited {
  color: #009fe3;
}

.footer-menu_infos, .footer-menu_presse, .footer-menu_faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back-to-top {
  position: fixed;
}

/*.btm {
  margin-top: 20px;
  height: 250px;
  background: no-repeat url("../../ressources/images/bg-rectangle-blue-320x750.png");
  .btm-title {
    text-align: center;
    h3:first-child {
      opacity: 0.5;
      margin: 0;
    }
  }
  .pub {
    padding: 0 30px;
    img {
      width: 75px;      
    }
  }
}*/

/*# sourceMappingURL=style.css.map */
