/*@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/
body {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

ul {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

h1, h2, h3 {
  text-align: center;
  margin: 0 auto;
}

h1, h2, h3, p, a, a:hover {
  color: #009fe3;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.btn-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 10vw;
  height: 30px;
  margin-top: 7.5px;
}

.btn-menu:active {
  transform: scale(0.9);
}

@media all and (min-width: 375px) {
  .btn-menu {
    margin-top: 9px;
  }
}
@media all and (min-width: 425px) {
  .btn-menu {
    margin-top: 10px;
  }
}
@media all and (min-width: 768px) {
  .btn-menu {
    margin-top: 22px;
  }
}
.don {
  grid-area: don;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-don {
  grid-area: btn-don;
  display: inline-block;
  border: 2px solid #009fe3;
  border-radius: 40px;
  font-size: 0.9em;
  padding: 0.3em 0.5em 0.4em;
  font-weight: bold;
}

.btn-don:active {
  transform: scale(0.9);
}

.btn-don:hover {
  background: #009fe3;
  color: #31424a;
  transition-duration: 0.1s;
}

@media all and (min-width: 375px) {
  .btn-don {
    font-size: 1em;
  }
}
@media all and (min-width: 425px) {
  .btn-don {
    font-size: 1.1em;
  }
}
@media all and (min-width: 768px) {
  .btn-don {
    font-size: 1.5em;
  }
}
/*.btn-don {
  order: 3;
  width: 36vw;
  height: 40px;
  position: relative;
  top: 3px;
  border: 1px solid $color1;
  background: $color2;
  color: $color1;
  border-radius: 25px;
  margin-right: 1px;
}

.btn-don:active {
  font-weight: bold;
  border: 2px solid $color1;
}

@media all and (min-width: 375px) {
  .btn-don {
    margin-right: 7px;
    top: 8px;
  }
}

@media all and (min-width: 425px) {
  .btn-don {
    margin-right: 7px;
    top: 9px;
    height: 45px;
  }
}

@media all and (min-width: 600px) {
  .btn-don {
    top: 10.5px;
    height: 60px;
    border-radius: 30px;
  }
}

@media all and (min-width: 715px) {
  .btn-don {
    top: 2px;
    margin-right: 40px;
    width: 26vw;
    height: 60px;
  }
}

@media all and (min-width: 768px) {
  .btn-don {
    top: 4.5px;
    margin-right: 40px;
    width: 22vw;
    height: 60px;
  }
}

@media all and (min-width: 900px) {
  .btn-don {
    width: 18vw;
    height: 40px;
    top: 5px;
    left: -1vw;
    font-size: 1.2em;
    margin-right: 0;
  }
}

@media all and (min-width: 1024px) {
  .btn-don {
    height: 40px;
    right: -2vw;
  }
}*/
.btn-search {
  cursor: pointer;
  font-size: 1em;
}

.btn-search:active {
  transform: scale(0.9);
}

.fa-search {
  position: absolute;
  top: 9.5px;
  left: 90%;
}

@media all and (min-width: 375px) {
  .btn-search {
    font-size: 1.2em;
  }
}
@media all and (min-width: 425px) {
  .btn-search {
    font-size: 1.3em;
  }

  .fa-search {
    left: 91%;
  }
}
@media all and (min-width: 768px) {
  .btn-search {
    font-size: 1.6em;
  }

  .fa-search {
    top: 8px;
    left: 69.5%;
  }
}
/*@media all and (min-width: 715px) {
  .btn-search {
    top: 16px;
    right: 20vw;
    font-size: 1.2em;
  }
}

@media all and (min-width: 768px) {
  .btn-search {
    top: 15px;
    right: 20vw;
    font-size: 1.3em
  }
}

@media all and (min-width: 900px) {
  .btn-search {
    top: 8px;
    left: 50vw;
    font-size: 1em;
  }
}

@media all and (min-width: 1024px) {
  .btn-search {
    top: 7px;
    right: 31vw;
  }

  .fa-search {
    font-size: 1.5em;
  }
}*/
.back-to-top {
  position: fixed;
  right: 4.5vw;
  bottom: 10px;
}

/*.back-to-top {
  position: fixed;
  right: 4.5vw;
  bottom: 10px;
}

@media all and (min-width: 375px) {
  .back-to-top {
    right: 4vw;
  }
}

@media all and (min-width: 425px) {
  .back-to-top {
    right: 3vw;
  }
}

@media all and (min-width: 505px) {
  .back-to-top {
    right: 2.5vw;
  }

  .back-to-top img {
    width: 9vw;
  }
}

@media all and (min-width: 600px) {
  .back-to-top {
    right: 2vw;
  }

  .back-to-top img {
    width: 8.2vw;
  }
}

@media all and (min-width: 715px) {
  .back-to-top {
    right: 1.8vw;
  }

  .back-to-top img {
    width: 8vw;
  }
}

@media all and (min-width: 768px) {
  .back-to-top {
    right: 1.7vw;
  }

  .back-to-top img {
    width: 7.5vw;
  }
}

@media all and (min-width: 900px) {
  .back-to-top {
    right: 1.7vw;
  }

  .back-to-top img {
    width: 7.5vw;
  }
}*/
header {
  background: #31424a;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "header-top" "caroussel";
}

.header-top {
  grid-area: header-top;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "main-navigation logo don" "search search search";
  gap: 13px;
  position: relative;
  padding: 20px 20px 10px;
}

/* logo */
.logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100px;
}

/* Menu */
.main-navigation {
  grid-area: main-navigation;
  display: flex;
  justify-content: flex-start;
}

.menu-checkbox:checked ~ .menu {
  margin-left: 0;
  transition-duration: 0.5s;
  display: block;
}

.menu-checkbox {
  position: absolute;
  top: -5000px;
}

.menu {
  margin-left: -3000px;
  transition-duration: 1s;
  background: #31424a;
  position: absolute;
  top: 9em;
  left: 0;
  width: 100%;
  z-index: 1;
  padding-bottom: 10px;
}

.menu a {
  display: block;
  text-align: center;
  background: #31424a;
  margin: 5px auto;
  width: 40%;
}

.menu a:hover {
  background: #455d69;
}

/* Barre de recherche et bouton recherche */
.search {
  grid-area: search;
  position: relative;
  margin: 20px 0;
}

.search input {
  position: absolute;
  border-radius: 20px;
  border: none;
  background: #455d69;
  padding: 5px 15px 4px;
  font-size: 1.2em;
  width: 100%;
}

.search input::placeholder {
  color: rgba(0, 159, 227, 0.5);
}

/* Caroussel */
.caroussel {
  grid-area: caroussel;
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
}

.images img {
  width: 100vw;
}

.images {
  width: 100vw;
  display: flex;
  animation-duration: 15s;
  animation-name: mesImages;
  animation-iteration-count: infinite;
}

@keyframes mesImages {
  0%, 25% {
    transform: translateX(0);
  }
  30%, 75% {
    transform: translateX(-100%);
  }
  80%, 100% {
    transform: translateX(0);
  }
}
@media all and (min-width: 375px) {
  .logo img {
    width: 105px;
  }

  .menu {
    top: 9.3em;
  }

  .menu a {
    width: 34%;
    padding: 1.7px;
  }

  .search input {
    font-size: 1.4em;
  }
}
@media all and (min-width: 425px) {
  .logo img {
    width: 110px;
  }

  .menu {
    top: 9.5em;
  }

  .menu a {
    width: 30%;
    padding: 3.5px;
  }

  .search input {
    font-size: 1.6em;
  }
}
@media all and (min-width: 768px) {
  .logo img {
    width: 160px;
  }

  .menu {
    top: 11em;
  }

  .menu a {
    width: 25%;
    font-size: 1.5em;
    padding: 11px;
  }

  .search form {
    display: flex;
    justify-content: center;
  }

  .search input {
    width: 50%;
    font-size: 2em;
    padding: 2px 20px 0;
  }
}
/*header {
  background: $color2;
}

.header-top {
  padding: 20px 20px 0;
  height: 170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.logo img {
  width: 32vw;
}

.logo {
  order: 2;
  position: absolute;
  left: 23vw;
}

.main-navigation {
  order: 1;
  height: 200px;
  margin-left: 5px;
}

.menu-checkbox:checked ~ .menu {
  margin-left: 0;
  transition-duration: 0.5s;
  display: block;
}

.menu-checkbox {
  position: absolute;
  top: -5000px;
}

label img {
  position: relative;
  top: 6px;
  width: 12vw;
}

.menu {
  margin: 80px 0 0 -3000px;
  transition-duration: 0.5s;
  background: $color2;
  position: absolute;
  left: 0;
  width: 100vw;
  z-index: 1;
}

.menu a {
  display: block;
  background: $color2;
  margin: 15px 25px;
}

.menu a:hover {
  transform: scaley(1.3);
  text-decoration: overline;
}

.search {
  order: 4;
  position: absolute;
  top: 90px;
  left: 7.5vw;
  width: 85vw;
}

.search input {
  width: 86vw;
  height: 40px;
  border-radius: 20px;
  border: none;
  background: lighten($color2, 10);
  padding: 20px;
}

.search input::placeholder {
  font-size: 1.5em;
  position: relative;
  top: 2px;
  color: $color1;
}

h1 {
  margin: 0;
  position: absolute;
  text-align: center;
  color: $color1;
  left: 0;
  right: 0;
  top: 140px;
}

.caroussel {
  overflow: auto;
  width: 100vw;
}

.images img {
  width: 100vw;
}

.images {
  display: flex;
  animation-duration: 15s;
  animation-name: mesImages;
  animation-iteration-count: infinite;
}

@keyframes mesImages {
  0%, 25% {
    transform: translateX(0);
  }
  30%, 75% {
    transform: translateX(-100vw);
  }
  80%, 100% {
    transform: translateX(0);
  }
}

@media all and (min-width: 375px) {
  .logo {
    left: 22.5vw;
  }

  label img {
    position: relative;
    top: 6px;
    width: 13vw;
  }

  .menu {
    margin: 70px 0 0 -3000px;
  }

  .search {
    left: 6.5vw;
  }

  .search input {
    width: 86vw;
    height: 40px;
  }
}

@media all and (min-width: 425px) {
  .header-top{
    margin-bottom: 20px;
  }

  .logo img {
    width: 30vw;
  }

  .logo {
    left: 23vw;
  }

  .menu {
    margin: 85px 0 0 -3000px;
  }

  .search {
    top: 110px;
    left: 5.5vw;
  }

  .search input {
    width: 88vw;
    height: 40px;
  }

  h1 {
    top: 160px;
  }

  .caroussel {
    top: 250px;
  }
}

@media all and (min-width: 505px) {
  .menu {
    margin: 70px 0 0 -3000px;
  }
}

@media all and (min-width: 600px) {
  .header-top {
    margin-bottom: 40px;
  }

  .search {
    top: 130px;
  }

  label img {
    width: 12vw;
  }

  .menu {
    margin: 80px 0 0 -3000px;
  }

  h1 {
    top: 180px;
  }
}

@media all and (min-width: 715px) {
  .header-top {
    padding-top: 50px;
    margin-bottom: 120px;
  }

  .logo img {
    width: 25vw;
  }

  .logo {
    left: 28vw;
    top: 42px;
  }

  label img {
    top: 0;
    left: 5vw;
    width: 10vw;
  }

  .menu {
    top: 140px;
    text-align: center;
    margin-top: 130px;
  }

  .menu a {
    font-size: 2em;
    padding-bottom: 10px;
    display: inline-block;
  }

  .search {
    top: 190px;
  }

  .search input {
    position: absolute;
    left: 0;
    right: 0;
    width: 50vw;
    height: 60px;
    margin: 0 auto;
    border-radius: 35px;
    padding: 30px;
    font-size: 1.3em;
  }

  h1 {
    top: 270px;
    font-size: 2.5em;
  }
}

@media all and (min-width: 768px) {
  .logo img {
    width: 26vw;
  }

  .logo {
    left: 30vw;
    top: 40px;
  }

  label img {
    top: 0;
    left: 30px;
  }

  .menu {
    top: 140px;
    text-align: center;
    margin-top: 130px;
  }

  .menu a {
    font-size: 2em;
    padding-bottom: 10px;
    display: inline-block;
  }

  .search {
    top: 190px;
  }

  .search input {
    position: absolute;
    left: 0;
    right: 0;
    width: 50vw;
    height: 60px;
    margin: 0 auto;
    border-radius: 35px;
    padding: 30px;
  }

  h1 {
    top: 270px;
    font-size: 2.5em;
  }
}

@media all and (min-width: 900px) {
  header {
    margin-bottom: 50px;
  }

  .header-top {
    height: 0;
  }

  .logo {
    top: 40px;
    left: 3vw;
  }

  .logo img {
    width: 15vw;
  }

  .search {
    top: 55px;
    left: 21vw;
    width: 40vw;
    height: 40px;
  }

  label img {
    display: none;
  }

  .search input {
    width: 25vw;
    height: 40px;
    padding: 10px 15px 11px;
    font-size: 1em;
    margin: 0;
    left: 30vw;
  }

  h1 {
    top: 54px;
    left: 19.5vw;
    width: 30vw;
    font-size: 2em;
  }

  .menu {
    margin: 0;
  }

  .menu a {
    font-size: 1.4em;
    padding: 0;
    margin: 0 19px 23px;
  }

  .menu a:hover {
    transform: scaleY(1.3);
  }
}

@media all and (min-width: 1024px) {
  header {
    margin-bottom: 50px;
  }

  .header-top {
    height: 0;
  }

  .logo {
    top: 30px;
    left: 3vw;
  }

  .search {
    top: 55px;
    left: 19vw;
  }

  .search input {
    width: 25vw;
    height: 40px;
    padding: 10px 15px 11px;
  }

  .logo {
    top: 40px;
  }

  .logo img {
    width: 15vw;
  }
  label img {
    display: none;
  }

  h1 {
    top: 54px;
    right: 34vw;
    font-size: 2em;
  }

  .menu {
    margin: 0;
  }

  .menu a {
    font-size: 1.5em;
  }
}*/
footer {
  grid-area: footer;
}

/* footer
footer {
  background: $color5;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color1;
  margin: 0;
}

footer p {
  margin-bottom: 0;
}

footer ul {
  padding: 0;
}

footer li {
  text-align: center;
  line-height: 35px;
}

.footer-menu_infos, .footer-menu_presse, .footer-menu_faq {

  @include flex-col-center;
}

@media all and (min-width: 600px) {
  footer {
    padding: 50px 0;
    flex-direction: row;
    justify-content: space-around;
  }
  footer p, footer a {
    font-size: 1.1em;
  }
}

@media all and (min-width: 1024px) {
  footer {
    font-size: 1.3em;
  }
}*/
h1 {
  width: 85%;
  margin-top: 20px;
  background: burlywood;
}

.top {
  margin-bottom: 40px;
}

.top h2 {
  margin: 30px auto 20px;
  color: #009fe3;
  width: 45%;
}

.top-container {
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "card-1" "card-2" "card-3";
  gap: 15px;
}

.card-1 {
  grid-area: card-1;
}

.card-2 {
  grid-area: card-2;
}

.card-3 {
  grid-area: card-3;
}

.card {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #009fe3;
  perspective: 1000px;
}

.card h3 {
  width: 100%;
  margin-bottom: 10px;
}

.card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateX(180deg);
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #f8f8f8;
  box-shadow: 1px 1px 10px 1px #c1c7c9;
}

.card-front, .card-front img, .card-back {
  border-radius: 5px;
}

.card-front {
  border-radius: 5px;
}

.card-front img {
  margin-top: 5%;
  width: 90%;
}

.card-back {
  transform: rotateX(180deg);
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  height: 100%;
  width: 100%;
  background: #f8f8f8;
  border-radius: 5px;
}

.card-back p {
  width: 90%;
}

@media all and (min-width: 768px) {
  .top-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "card-1 card-1 card-2 card-2" "card-3 card-3 card-3 card-3";
    gap: 10px;
  }

  .card-1 {
    grid-area: card-1;
  }

  .card-2 {
    grid-area: card-2;
  }

  .card-3 {
    grid-area: card-3;
    width: 90;
  }

  .card {
    margin: 0;
    padding: 20px;
  }

  .card-front,
.card-back {
    width: 100%;
  }

  .card-front img {
    width: 100%;
  }
}
/*.center {
  margin-top: 20px;
}

.center img {
  display: none;
}

.center h2 {
  color: $color1;
  text-align: center;
  margin-bottom: 10px;
}

.center-container {
  height: 460px;
  background: url("../../ressources/images/Main-livre@2x.png") no-repeat;
  background-size: 100vw 460px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.8em;
}

.art {
  display: flex;
  width: 35vw;
  padding: 15px;
}

.btm {
  height: auto;
  background: no-repeat
    url("../../ressources/images/bg-rectangle-blue-320x750.png");
  background-size: 100vw 350px;
  margin: 20px 0;
}

.btm h2 {
  margin: 0;
  position: relative;
  top: 100px;
  text-align: center;
}

.btm span {
  display: inline-block;
  width: 100vw;
  position: relative;
  top: 40px;
  left: -35px;
  font-weight: bold;
  font-size: 1.5em;
  opacity: 0.5;
}

.pub {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pub img {
  width: 25vw;
}

.pub-top {
  width: 80vw;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pub-btm {
  width: 80vw;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pub-top a:nth-child(2) {
  position: relative;
  top: 35px;
}

.pub-btm a:nth-child(2) img {
  width: 30vw;
}

@media all and (min-width: 375px) {
  .center-container {
    height: 452px;
    background-size: 100vw 452px;
    font-size: 0.82em;
  }

  .btm {
    height: 375px;
    background-size: 100vw 375px;
  }

  .btm h2 {
    top: 110px;
  }

  .btm span {
    top: 50px;
    left: -35px;
  }

  .pub {
    margin-top: 15px;
  }
}

@media all and (min-width: 425px) {
  .center-container {
    height: 425px;
    background-size: 100vw 425px;
    font-size: 0.84em;
  }

  .btm {
    height: 425px;
    background-size: 100vw 425px;
  }

  .btm h2 {
    top: 120px;
  }

  .btm span {
    top: 60px;
    left: -35px;
  }

  .pub {
    margin-top: 45px;
  }

  .pub-top a:nth-child(2) {
    top: 40px;
  }
}

@media all and (min-width: 505px) {
  .btm {
    height: 450px;
    background-size: 100vw 450px;
  }
}

@media all and (min-width: 600px) {
  .center-container {
    height: 450px;
    background-size: 100vw 450px;
    font-size: 1em;
  }

  .btm {
    height: 500px;
    background-size: 100vw 500px;
    font-size: 1.2em;
  }

  .btm h2 {
    top: 130px;
  }

  .btm span {
    top: 60px;
    left: -35px;
  }

  .pub {
    margin-top: 65px;
  }

  .pub-top a:nth-child(2) {
    top: 50px;
  }

  .pub-top a:nth-child(2) img {
    width: 21vw;
  }
}

@media all and (min-width: 768px) {
  .top{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
    "top-h2"
    "top-container";
  }

  .top h2 {
    grid-area: top-h2;
  }

  .top-container {
    grid-area: top-container;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "card-1 card-1 card-1 card-2 card-2 card-2"
      ". card-3 card-3 card-3 card-3 .";
      margin: 0 20px;
  }

  .card {
    margin: 5px;
  }

  .card img {
    width: 40vw;
  }

  .card-3 img {
    width: 55vw;
  }

  .card-1 {
    grid-area: card-1;
  }

  .card-2 {
    grid-area: card-2;
  }

  .card-3 {
    grid-area: card-3;
  }

  .center-container {
    height: 400px;
    background-size: 100vw 400px;
    font-size: 1em;
  }

  .btm {
    height: 515px;
    background-size: 100vw 510px;
  }
}

@media all and (min-width: 900px) {
  .top-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "card-1 card-2 card-3";
  }

  .card-3 img {
    width: 40vw;
  }

  .card img {
    width: 24vw;
  }

  .btm {
    height: 525px;
    background-size: 100vw 520px;
  }

  .pub img {
    width: 20vw;
  }

  .pub-top a:nth-child(2) {
    top: 50px;
    left: -3vw;
  }

  .pub-top a:nth-child(2) img {
    width: 15vw;
  }
}

@media all and (min-width: 1024px) {
  .top-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "card-1 card-2 card-3";
  }

  .card {
    font-size: 1.2em;
  }

  .card-3 img {
    width: 40vw;
  }

  .card img {
    width: 24vw;
  }

  .center-container {
    height: 450px;
    background-size: 100vw 450px;
  }

  .art {
    font-size: 1.3em;
    padding: 0 25px;
  }

  .btm {
    height: 535px;
    background-size: 100vw 530px;
  }

  .pub img {
    width: 15vw;
  }

  .pub-top a:nth-child(2) {
    top: 50px;
    left: -7vw;
  }

  .pub-top a:nth-child(2) img {
    width: 13vw;
  }
}*/

/*# sourceMappingURL=style.css.map */
