/* Bouton haut de page */
.back-to-top {
  position: fixed;
  right: 5%;
  bottom: 10px;
  border-radius: 5px;
}

.fa-chevron-up {
  font-size: 1.5em;
  color: lighten($color1, 30);
}

@media all and (min-width: 768px) {
  .back-to-top {
    right: 2%;
    bottom: 10px;
  }

  .fa-chevron-up {
    font-size: 2em;
  }
}

@media all and (min-width: 1024px) {
  .fa-chevron-up {
    font-size: 2.5em;
  }
}

@media all and (min-width: 1024px) {
  .fa-chevron-up {
    font-size: 3em;
  }
}

@media all and (min-width: 1440px) {
  .back-to-top {
    right: 3%;
    bottom: 30px;
  }

  .fa-chevron-up {
    font-size: 3.5em;
  }
}