.back-to-top {
  position: fixed;
  right: 4.5vw;
  bottom: 10px;
}

@media screen and (min-width: 375px) {
  .back-to-top {
    right: 4vw;
  }
}

@media screen and (min-width: 425px) {
  .back-to-top {
    right: 3vw;
  }
}