.btn-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 10vw;
  height: 30px;
  margin-top: 7.5px;
}

.btn-menu:active {
  transform: scale(0.9);
}

@media all and (min-width: 375px) {
  .btn-menu {
    margin-top: 9px;
  }
}

@media all and (min-width: 425px) {
  .btn-menu {
    margin-top: 10px;
  }
}

@media all and (min-width: 768px) {
  .btn-menu {
    margin-top: 22px;
  }
}