
.btn-search {
  position: absolute;
  right: 4vw;
  top: 6px;
  cursor: pointer;
  font-size: 1em;
}

.btn-search:active {
  transform: scale(0.9);
}

.btn-search i {
  background: red;
}

@media all and (min-width: 375px) {
  .btn-search {
    right: 4vw;
    font-size: 1.2em;
  }
}

@media all and (min-width: 425px) {
  .btn-search {
    font-size: 1.3em;
    top: 3px;
  }
}

@media all and (min-width: 768px) {
  .btn-search {
    right: 26vw;
    font-size: 1.7em;
  }
}

/*@media all and (min-width: 715px) {
  .btn-search {
    top: 16px;
    right: 20vw;
    font-size: 1.2em;
  }
}

@media all and (min-width: 768px) {
  .btn-search {
    top: 15px;
    right: 20vw;
    font-size: 1.3em
  }
}

@media all and (min-width: 900px) {
  .btn-search {
    top: 8px;
    left: 50vw;
    font-size: 1em;
  }
}

@media all and (min-width: 1024px) {
  .btn-search {
    top: 7px;
    right: 31vw;
  }

  .fa-search {
    font-size: 1.5em;
  }
}*/