
.btn-search {
  cursor: pointer;
  font-size: 1em;
  
}

.btn-search:active {
  transform: scale(0.9);
}

.fa-search {
  position: absolute;
  top: 9.5px;
  left: 90%;
}

@media all and (min-width: 375px) {
  .btn-search {
    font-size: 1.2em;
  }
}

@media all and (min-width: 425px) {
  .btn-search {
    font-size: 1.3em;
  }

  .fa-search {
    left: 91%;
  }
}

@media all and (min-width: 768px) {
  .btn-search {
    font-size: 1.6em;
  }

  .fa-search {
    top: 8px;
    left: 69.5%;
  }
}

/*@media all and (min-width: 715px) {
  .btn-search {
    top: 16px;
    right: 20vw;
    font-size: 1.2em;
  }
}

@media all and (min-width: 768px) {
  .btn-search {
    top: 15px;
    right: 20vw;
    font-size: 1.3em
  }
}

@media all and (min-width: 900px) {
  .btn-search {
    top: 8px;
    left: 50vw;
    font-size: 1em;
  }
}

@media all and (min-width: 1024px) {
  .btn-search {
    top: 7px;
    right: 31vw;
  }

  .fa-search {
    font-size: 1.5em;
  }
}*/