.don {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  order: 3;
}

.btn-don {
  display: inline-block;
  border: 2px solid $color1;
  border-radius: 40px;
  font-size: 0.9em;
  padding: 0.3em 0.5em 0.4em;
  font-weight: bold;
}

.btn-don:active {
  transform: scale(0.9);
}

.btn-don:hover {
  background: $color1;
  color: $color2;
  transition-duration: .1s;
}

@media all and (min-width: 375px) {
  .btn-don {
    font-size: 1em;
  }
}

@media all and (min-width: 425px) {
  .btn-don {
    font-size: 1.1em;
  }
}

@media all and (min-width: 768px) {
  .btn-don {
    font-size: 1.5em;
  }
}

@media all and (min-width: 950px) {
  .don {
    margin-right: 65px;
  }

  .btn-don {
    font-size: 1.1em;
  }
}

@media all and (min-width: 1024px) {
  .btn-don {
    font-size: 1.3em;
  }
}

@media all and (min-width: 1200px) {
  .btn-don {
    font-size: 1.5em;
  }
}

@media all and (min-width: 1440px) {
  .btn-don {
    font-size: 1.6em;
  }
}

