.back-to-top {
  position: fixed;
  right: 4.5vw;
  bottom: 10px;
}

/*.back-to-top {
  position: fixed;
  right: 4.5vw;
  bottom: 10px;
}

@media all and (min-width: 375px) {
  .back-to-top {
    right: 4vw;
  }
}

@media all and (min-width: 425px) {
  .back-to-top {
    right: 3vw;
  }
}

@media all and (min-width: 505px) {
  .back-to-top {
    right: 2.5vw;
  }

  .back-to-top img {
    width: 9vw;
  }
}

@media all and (min-width: 600px) {
  .back-to-top {
    right: 2vw;
  }

  .back-to-top img {
    width: 8.2vw;
  }
}

@media all and (min-width: 715px) {
  .back-to-top {
    right: 1.8vw;
  }

  .back-to-top img {
    width: 8vw;
  }
}

@media all and (min-width: 768px) {
  .back-to-top {
    right: 1.7vw;
  }

  .back-to-top img {
    width: 7.5vw;
  }
}

@media all and (min-width: 900px) {
  .back-to-top {
    right: 1.7vw;
  }

  .back-to-top img {
    width: 7.5vw;
  }
}*/