.btn-menu {
  cursor: pointer;
}

.btn-menu img {
  width: 80%;
}

.btn-menu:active {
  transform: scale(0.9);
}

@media all and (min-width: 375px) {
  .btn-menu img {
    width: 85%;
  }
}

@media all and (min-width: 425px) {
  .btn-menu {
    width: 90%;
  }
}

@media all and (min-width: 768px) {
  .btn-menu img {
    width: 100%;
  }
}

@media only screen and (min-width: 950px) {
  .btn-menu {
    display: none;
  }
}