
.btn-search {
  position: absolute;
  right: 4vw;
  top: 4px;
  border: none;
  border-radius: 50%;
  background: lighten($color2, 10);
  cursor: pointer;
}

.btn-search:active {
  transform: scale(0.9);
}

.fa-search {
  margin-top: 2px;
  font-size: 1.2em;
  color: $color1;
}

/*@media all and (min-width: 375px) {
  .btn-search {
    right: 2vw;
  }
}

@media all and (min-width: 425px) {
  .btn-search {
    right: 1vw;
  }
}

@media all and (min-width: 715px) {
  .btn-search {
    top: 16px;
    right: 20vw;
    font-size: 1.2em;
  }
}

@media all and (min-width: 768px) {
  .btn-search {
    top: 15px;
    right: 20vw;
    font-size: 1.3em
  }
}

@media all and (min-width: 900px) {
  .btn-search {
    top: 8px;
    left: 50vw;
    font-size: 1em;
  }
}

@media all and (min-width: 1024px) {
  .btn-search {
    top: 7px;
    right: 31vw;
  }

  .fa-search {
    font-size: 1.5em;
  }
}*/