/* Général */
body {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: $color4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid $color1;
}

h1, 
h2, 
h3, 
h5 {
  font-weight: 700;
} 

h1,
h2,
h3,
p {
  text-align: center;
  margin: 0 auto;
}

h1,
h2,
h3,
p,
a,
a:hover {
  color: $color1;
}

h1 {
  color: $color5;
  margin: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

.logo:hover,
.search a:hover,
.pub-logo:hover,
.back-to-top a:hover, 
.wc3 a:hover, footer .w3c a:hover {
  border: none;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}
