body {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: $color4;
}

.container-principal {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 1px 1px 10px 1px $color5;
}

ul{
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid $color1;
}

h1, h2, h3, p {
  text-align: center;
  margin: 0 auto;
}

h1, h2, h3, p, a, a:hover {
  color: $color1;
}

ul {
  list-style: none;
  padding: 0;
}

.logo:hover, .search a:hover .back-to-top a:hover, .pub-logo:hover {
  border: none;
}


