body {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

ul{
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

h1, h2, h3, p, a, a:hover {
  color: $color1;
  text-align: center;
}


