body {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul{
  list-style: none;
}

a {
  text-decoration: none;
  color: $color1;
  &:hover {
    color: $color1;
  }
}

p, h1, h2, h3, .btm span {
  text-align: center;
}
