/* Contenu de la page Accueil */
main {
  background: $color4;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

.top-index {
  margin-bottom: 20px;
  padding: 0 10px;
}

.top-index {
  & h2 {
    margin: 0 auto 20px;
    color: $color1;
  }
}

.top-container {
  padding: 0 20px;
}

.card h3,
.card-inner,
.card-front,
.card-back {
  width: 100%;
}

.card {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color1;
  perspective: 1000px;
  margin-bottom: 10px;
}

.card {
  & h3 {
    padding: 10px 0;
  }
}

.card-inner {
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover {
  & .card-inner {
    transform: rotateX(180deg);
  }
}

.card-front,
.card-back {
  height: 100%;
  backface-visibility: hidden;
  background: lighten($color3, 20);
  box-shadow: 1px 1px 10px 1px $color3;
}

.card-front,
.card-front img,
.card-back {
  border-radius: 5px;
}

.card-front {
  border-radius: 5px;
}

.card-front img {
  margin-top: 5%;
  width: 90%;
}

.card-back {
  transform: rotateX(180deg);
  position: absolute;
  top: 0;
  @extend %flex-center;
  font-size: 1em;
  margin-bottom: 10px;
  background: lighten($color3, 20);
  border-radius: 5px;
}

.card-back p {
  width: 90%;
}

/* main centre */
.center-index {
  padding: 20px 0 30px;
  height: auto;
}

.center-index {
  & h2 {
    margin-bottom: 20px;
  }
}

.center-index::before {
  content: "";
  height: 2px;
  width: 90%;
  background: $color1;
  display: block;
  margin: 20px auto;
}

.center-index::after {
  content: "";
  width: 90%;
  height: 2px;
  background: $color1;
  display: block;
  margin: 30px auto 0;
}

.center-container {
  height: auto;
  background: url("../../ressources/images/main-livre-862x1166.png") no-repeat;
  background-size: 100% 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8em;
}

.content-top,
.content-btm,
.art {
  width: 100%;
}

.content-top,
.content-btm {
  display: flex;
  justify-content: space-between;
}

.art-1,
.art-3 {
  padding: 0 10px 10px 20px;
}

.art-2,
.art-4 {
  padding: 0 20px 10px 10px;
}

.art {
  & h3 {
    margin-bottom: 10px;
  }
}

.btm-index {
  height: auto;
  background: no-repeat
    url("../../ressources/images/bg-rectangle-bleu_856x1157.png");
  background-size: 100% 100%;
  padding: 0 20px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 0.2fr 0.2fr 2fr 0.8fr;
  grid-template-areas:
    "."
    "btm-span"
    "btm-h2"
    "pub"
    ".";
}

.btm-index {
  & h2,
  span {
    font-size: 1.3em;
  }
}

.btm-index {
  & h2 {
    grid-area: btm-h2;
    color: $color5;
    display: flex;
    align-self: center;
  }
}

.btm-index {
  & span {
    grid-area: btm-span;
    position: relative;
    right: 5vw;
    display: flex;
    align-self: center;
    justify-self: center;
    font-weight: bold;
    color: rgba($color5, 0.7);
  }
}

.pub,
.pub-logo {
  width: 100%;
}

.pub {
  grid-area: pub;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "pub-1 . pub-2"
    ". pub-3 ."
    "pub-4 . pub-5";
  max-height: 400px;
  margin: 0 auto;
}

.pub-logo {
  @extend %flex-center;
}

.pub-1 {
  grid-area: pub-1;
}

.pub-2 {
  grid-area: pub-2;
}

.pub-3 {
  grid-area: pub-3;
}

.pub-4 {
  grid-area: pub-4;
}

.pub-5 {
  grid-area: pub-5;
}

.pub-1,
.pub-4 {
  justify-content: flex-end;
}

.pub-2,
.pub-5 {
  justify-content: flex-start;
}

.btm-index {
  & img {
    width: 80%;
  }
}

@media all and (min-width: 375px) {
  .center-container {
    font-size: 0.9em;
  }

  .btm-index {
    & h2,
    span {
      font-size: 1.4em;
    }
  }

  .btm-index {
    & img {
      width: 70%;
    }
  }
}

@media all and (min-width: 425px) {
  .center-container {
    font-size: 1em;
  }

  .btm-index {
    & h2,
    span {
      font-size: 1.5em;
    }
  }

  .btm-index {
    & h2,
    span {
      font-size: 1.5em;
    }
  }
}

@media all and (min-width: 768px) {
  .top-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.1fr 0.1fr;
    grid-template-areas:
      "card-1 card-1 card-2 card-2"
      "card-3 card-3 card-3 card-3";
    gap: 10px;
    padding: 0 20px;
  }

  .card-1 {
    grid-area: card-1;
  }

  .card-2 {
    grid-area: card-2;
  }

  .card-3 {
    grid-area: card-3;
    width: 70%;
    position: relative;
    left: 15%;
  }

  .card {
    margin: 0;
    height: 100%;
  }

  .card-front img {
    width: 90%;
  }

  .center-container {
    font-size: 1.1em;
  }

  .art-1,
  .art-3 {
    padding: 0 30px 10px 50px;
  }

  .art-2,
  .art-4 {
    padding: 0 50px 10px 30px;
  }

  .btm-index {
    & h2,
    span {
      font-size: 1.8em;
    }
  }

  .btm-index {
    & h2 {
      margin-bottom: 30px;
    }
  }
}

@media all and (min-width: 950px) {
  main {
    padding: 40px 0;
  }

  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.4em;
  }

  .top-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "card-1 card-2 card-3";
    gap: 10px;
    padding: 0 10px;
  }

  .center,
  .card-3 {
    width: 100%;
  }

  .card-1 {
    grid-area: card-1;
  }

  .card-2 {
    grid-area: card-2;
  }

  .card-3 {
    grid-area: card-3;
    left: 0;
  }

  .center-index {
    & h2 {
      font-size: 2.2em;
    }
  }

  .center-container {
    font-size: 1.3em;
  }

  .art-1,
  .art-3 {
    padding: 0 80px 10px 100px;
  }

  .art-2,
  .art-4 {
    padding: 0 100px 10px 80px;
  }

  .btm-index {
    & img {
      width: 50%;
    }
  }
}

@media all and (min-width: 1024px) {
  .top-container {
    padding: 0 40px;
  }

  

  .art-1,
  .art-3 {
    padding: 0 110px 10px 130px;
  }

  .art-2,
  .art-4 {
    padding: 0 130px 10px 110px;
  }
}

@media all and (min-width: 1240px) {
  h1 {
    font-size: 3.5em;
  }

  .card-back {
    font-size: 1.5em;
  }

  .center-index {
    & h2 {
      font-size: 2.5em;
    }
  }

  .center-container {
    font-size: 1.5em;
  }
  .art-1,
  .art-3 {
    padding: 0 150px 10px 170px;
  }

  .art-2,
  .art-4 {
    padding: 0 170px 10px 150px;
  }

  .btm-index {
    & img {
      width: 40%;
    }
  }
}

@media all and (min-width: 1440px) {
  .btm-index {
    & h2,
    span {
      font-size: 2em;
    }
  }

  .btm-index {
    & h2 {
      margin-bottom: 50px;
    }
  }
}

@media all and (min-width: 1537px) {
  main {
    max-width: 1536px;
    margin: 0 auto;
  }
}
