.top-event {
  padding: 0 30px;
}

.top-event {
  & h2, 
  p {
    color: $color1;
  }
}

.top-event {
  & h2 {
    margin-bottom: 20px;
  }
}

.center-event {
  height: auto;
  background: no-repeat
    url("../../ressources/images/bg-rectangle-bleu_856x1157.png");
  background-size: 100% 100%;
  padding: 0 30px 0;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 0.2fr 1fr 0.5fr;
  grid-template-areas:
    "."
    "center-event-h2"
    "center-event-p"
    ".";
  gap: 10px;
}

.center-event h2 {
  grid-area: center-event-h2;
}

.center-event p {
  grid-area: center-event-p;
}

.btm-event {
  height: auto;
  background: no-repeat
    url("../../ressources/images/bg-rectangle-gris_860x1253.png");
  background-size: 100% 100%;
  padding: 0 20px 0;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 0.2fr 1fr 0.5fr;
  grid-template-areas:
    "."
    "btm-event-h2"
    "btm-event-p"
    ".";
  gap: 10px;
}

.btm-event h2 {
  grid-area: btm-event-h2;
}

.btm-event p {
  grid-area: btm-event-p;
}


