/* Contenu page l'ong */
.main-other-pages {
  & h2,
  p {
    color: $color2;
  }
}

.top-other-pages {
  margin: 0 20px 50px;
  & h2 {
    margin-bottom: 50px;
  }
}

.top-other-pages {
  & h2,
  p {
    color: $color1;
  }
}

.center-other-pages {
  height: auto;
  background: no-repeat
    url("../../ressources/images/bg-rectangle-bleu_856x1157.png");
  background-size: 100% 100%;
  padding: 50px 20px 0;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 0.1fr 0.1fr auto 1fr;
  grid-template-areas:
    "."
    "center-ong-h2"
    "center-ong_p1"
    "center-ong-img"
    "center-ong_p2";
  gap: 10px;
}

.center-other-pages {
  & h2 {
    grid-area: center-ong-h2;
  }
}

.center-ong_p1 {
  grid-area: center-ong_p1;
}

.center-ong_p2 {
  grid-area: center-ong_p2;
}

.center-other-pages {
  & img {
    grid-area: center-ong-img;
  }
}

.center-ong_p2 {
  font-size: 0.8em;
}

.center-other-pages,
.btm-other-pages {
  & img {
    width: 100%;
  }
}

.btm-other-pages {
  height: auto;
  background: no-repeat
    url("../../ressources/images/bg-rectangle-gris_860x1253.png");
  background-size: 100% 100%;
  padding: 50px 20px 0;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.1fr 0.1fr 1fr;
  grid-template-areas:
    "."
    "btm-h2"
    "btm-p"
    "btm-img";
  gap: 10px;
}

.btm-h2 {
  grid-area: btm-h2;
}

.btm-p {
  grid-area: btm-p;
}

.btm-img {
  grid-area: btm-img;
}

@media all and (min-width: 425px) {
  .center-other-pages {
    padding: 100px 20px 0;
  }
}

@media all and (min-width: 768px) {
  .top-other-pages {
    margin: 0 20px 50px;
  }

  .center-other-pages {
    padding: 150px 20px 0;
  }
}

@media all and (min-width: 1024px) {
  .main-other-pages {
    & h2,
    p {
      font-size: 2em;
    }
  }

  .top-other-pages {
    margin: 0 20px 50px;
  }

  .center-other-pages {
    padding: 250px 20px 0;
  }
}
