/* Footer */
footer {
  background: $color5;
  width: 100%;
  color: $color1;
  margin: 0;
  padding: 50px 0 0;

  & p {
    margin-bottom: 0;
  }

  & ul {
    padding: 0;
  }

  & li {
    text-align: center;
    line-height: 35px;
  }
}

.infos-general {
  background: darken($color5, 5);
  height: auto;
  padding: 10px;
  & span {
    @extend %flex-center;
  }

  & i {
    position: relative;
    top: 1.5px;
  }
}

.infos-general span,
.infos-general a,
.fa-copyright {
  font-size: 0.8em;
}

.fa-copyright {
  padding-right: 3px;
}

.w3c {
  margin-top: 10px;
}

@media all and (min-width: 600px) {
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
      "footer-nav1 footer-nav2 footer-nav3"
      "infos-general infos-general infos-general";
    padding: 50px 0 0;

    & p,
    a {
      font-size: 1.1em;
    }
  }

  .footer-menu_infos {
    grid-area: footer-nav1;
  }

  .footer-menu_faq {
    grid-area: footer-nav2;
  }

  .footer-menu_presse {
    grid-area: footer-nav3;
  }

  .infos-general {
    grid-area: infos-general;
    @include flex-center;
    flex-direction: column;
    & span {
      font-size: 0.8em;
    }

    & ul {
      margin-top: 0;
      width: 100%;
    }

    & li {
      display: inline;
      padding: 0 10px;
    }

    & li:nth-child(1) {
      border-right: 1px solid $color1;
      padding-right: 15px;
    }

    & i {
      top: 1px;
    }
  }

  .w3c {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

@media all and (min-width: 768px) {
  .infos-general {
    & span {
      text-align: center;
      @include flex-center;
      font-size: 0.8em;
    }
  }
}

@media all and (min-width: 950px) {
  .infos-general {
    height: auto;
    flex-direction: row;
    & span {
      margin: 0 auto;
    }

    & ul {
      margin: 5px;
    }
  }
}

@media all and (min-width: 1024px) {
  footer {
    font-size: 1.3em;
  }
}
