/* Footer */
footer,
.footer-menu_infos,
.footer-menu_presse,
.footer-menu_faq {
  @include flex-col-center;
}

footer {
  background: $color5;
  width: 100%;
  color: $color1;
  margin: 0;
  padding-top: 20px;
}

footer {
  & p {
    margin-bottom: 0;
  }
}

footer {
  & ul {
    padding: 0;
  }
}

footer {
  & li {
    text-align: center;
    line-height: 35px;
  }
}

@media all and (min-width: 600px) {
  footer {
    padding: 50px 0;
    flex-direction: row;
    justify-content: space-around;
  }
  footer {
    & p,
    a {
    font-size: 1.1em;
  }
}
}

@media all and (min-width: 1024px) {
  footer {
    font-size: 1.3em;
  }
}
