/* footer */
footer {
  background: $color5;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color1;
}

footer p {
  margin-bottom: 0;
}

footer ul {
  padding: 0;
}

footer li {
  text-align: center;
  padding-bottom: 10px;
}

.footer-menu_infos, .footer-menu_presse, .footer-menu_faq {

  @include flex-col-center;
}