/* footer */
footer {
  background: $color5;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color1;
  margin: 0;
}

footer p {
  margin-bottom: 0;
}

footer ul {
  padding: 0;
}

footer li {
  text-align: center;
  line-height: 35px;
}

.footer-menu_infos, .footer-menu_presse, .footer-menu_faq {

  @include flex-col-center;
}

@media screen and (min-width: 600px) {
  footer {
    padding: 50px 0;
    flex-direction: row;
    justify-content: space-around;
  }
  footer p, footer a {
    font-size: 17px;
  }
}