/* Header */
header {
  background: $color2;
  width: 100vw;
}

.header-top {
  padding: 20px 20px 0;
  height: 170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.logo img {
  width: 32vw;
}

.logo {
  order: 2;
  position: absolute;
  left: 23vw;
}

.main-navigation {
  order: 1;
  height: 200px;
  margin-left: 5px;
}

.menu-checkbox:checked ~ .menu {
  margin-left: 0;
  transition-duration: 0.5s;
  display: block;
}

.menu-checkbox {
  position: absolute;
  top: -5000px;
}

label img {
  position: relative;
  top: 6px;
  width: 12vw;
}

.menu {
  margin: 70px 0 0 -3000px;
  transition-duration: 0.5s;
  background: $color2;
  position: absolute;
  left: 0;
  width: 100vw;
  z-index: 1;
}

.menu a {
  display: block;
  background: $color2;
  margin: 15px 25px;
}

.menu a:hover {
  transform: scaleY(1.5);
  text-decoration: overline;
}

.search {
  order: 4;
  position: absolute;
  top: 90px;
  left: 7.5vw;
  width: 85vw;
}

.search input {
  width: 86vw;
  height: 40px;
  border-radius: 20px;
  border: none;
  background: lighten($color2, 10);
  padding: 20px;
}

.search input::placeholder {
  font-size: 1.5em;
  position: relative;
  top: 2px;
  color: $color1;
}

h1 {
  margin: 0;
  position: absolute;
  text-align: center;
  color: $color1;
  left: 0;
  right: 0;
  top: 140px;
}

.caroussel {
  width: 100vw;
  overflow: auto;
}

.images img {
  width: 100vw;
}

.images {
  width: 100vw;
  display: flex;
  animation-duration: 15s;
  animation-name: mesImages;
  animation-iteration-count: infinite;
}

@keyframes mesImages {
  0%, 25% {
    transform: translateX(0);
  }
  30%, 75% {
    transform: translateX(-100vw);
  }
  80%, 100% {
    transform: translateX(0);
  }
}

@media screen and (min-width: 375px) {
  /* Header */
  .logo {
    left: 22.5vw;
  }

  label img {
    position: relative;
    top: 6px;
    width: 13vw;
  }

  .search {
    left: 6.5vw;
  }

  .search input {
    width: 86vw;
    height: 40px;
  }
}

@media screen and (min-width: 425px) {
  /* Header */
  .header-top{
    margin-bottom: 20px;
  }

  .logo img {
    width: 30vw;
  }
  
  .logo {
    left: 23vw;
  }

  .menu {
    margin: 90px 0 0 -3000px;
  }

  .search {
    top: 110px;
    left: 5.5vw;
  }

  .search input {
    width: 88vw;
    height: 40px;
  }

  h1 {
    top: 160px;
  }

  .caroussel {
    top: 250px;
  }
}

@media screen and (min-width: 600px) {
  .header-top {
    margin-bottom: 40px;
  }

  .search {
    top: 130px;
  }

  h1 {
    top: 180px ;
  }
}

@media screen and (min-width: 768px) {
  /* header */
  .header-top {
    padding-top: 50px;
    margin-bottom: 120px;
  }
  
  .logo img {
    width: 31.5vw;
  }
  
  .logo {
    left: 28%;
    top: 40px;
  }

  label img {
    top: 0;
    left: 30px;
  }

  .menu {
    margin-top: 130px;
    height: 50vh;
  }

  .menu a {
    font-size: 2em;
    padding-bottom: 10px;
    display: inline-block;
  }

  .search {
    top: 190px;
  }

  .search input {
    position: absolute;
    left: 0;
    right: 0;
    width: 50vw;
    height: 60px;
    margin: 0 auto;
    border-radius: 35px;
    padding: 30px;
  }

  .search input::placeholder {
    font-size: 2em;
    position: relative;
    top: 5px;
  }

  h1 {
    top: 270px;
    font-size: 2.5em;
  }

  .caroussel-1 {
    display: none;
  }

  .caroussel-2 {
    width: 100vw;
    overflow: auto;
  }
  
  .images-2 img {
    width: 100vw;
  }
  
  .images-2 {
    width: 100vw;
    display: flex;
    animation-duration: 15s;
    animation-name: mesImages;
    animation-iteration-count: infinite;
  }
  
  @keyframes mesImages1 {
    0%, 25% {
      transform: translateX(0);
    }
    30%, 75% {
      transform: translateX(-100%);
    }
    80%, 100% {
      transform: translateX(0);
    }
  }
}

@media screen and (min-width: 900px) {
  .header-top {
    margin-bottom: 140px;
  }
  .search {
    top: 200px;
  }

  h1 {
    top: 300px;
  }
}